include methods

-
  function compactText(value) {
    return strip_html(value || '').replace(/\s+/g, ' ').trim()
  }

  function absoluteUrl(value) {
    const rawValue = String(value || '').trim()
    if (!rawValue) return ''
    if (/^https?:\/\//i.test(rawValue)) return rawValue
    if (rawValue.startsWith('//')) return `https:${rawValue}`

    const normalizedValue = rawValue
      .replace(/^(\.\.\/)+/, '/')
      .replace(/^\.\//, '/')

    return full_url_for(normalizedValue)
  }

  function canonicalizeUrl(value) {
    return String(value || '').replace(/\/index\.html$/, '/')
  }

  function dateToIso(value) {
    if (!value) return ''
    if (typeof value.toISOString === 'function') return value.toISOString()
    if (typeof value.toJSON === 'function') return value.toJSON()
    return ''
  }

  function toArray(value) {
    if (!value) return []
    if (Array.isArray(value)) return value
    if (typeof value.toArray === 'function') return value.toArray()
    return String(value).split(',')
  }

  function uniqueStrings(values) {
    return values
      .map(value => String(value || '').trim())
      .filter(Boolean)
      .filter((value, index, self) => self.indexOf(value) === index)
  }

  const siteTitle = config.title || `${theme.user.name}'s blog`
  const siteDescription = compactText(config.description || theme.user.description || '')
  const siteBaseUrl = absoluteUrl('/').replace(/\/$/, '')
  const language = page.lang || page.language || config.language || 'zh-TW'
  const ogLocale = language.replace('-', '_')
  const appearance = theme.appearance ? theme.appearance : 'auto'
  const canonicalUrl = canonicalizeUrl(page.permalink || full_url_for(page.path || '/'))
  let pageContextTitle = ''

  if (is_archive()) pageContextTitle = 'Archives'
  if (is_tag()) pageContextTitle = `Tag: ${page.tag}`
  if (is_category()) pageContextTitle = `Category: ${page.category}`
  if (is_month()) pageContextTitle += `: ${page.month}/${page.year}`
  if (is_year()) pageContextTitle += `: ${page.year}`

  const basePageTitle = pageContextTitle || page.title || (is_home() ? siteTitle : 'Home')
  const pageTitle = is_home() ? siteTitle : `${basePageTitle} | ${siteTitle}`
  let descriptionSource = page.description || page.excerpt || page.content || siteDescription || pageTitle
  if (is_home()) descriptionSource = siteDescription || pageTitle
  const description = truncate(compactText(descriptionSource), { length: 160, omission: '..' })

  let authorName = page.author || config.author || theme.user.name || siteTitle
  if (typeof authorName === 'object' && typeof authorName.name === 'string') authorName = authorName.name
  if (typeof authorName === 'object' && typeof authorName.nick === 'string') authorName = authorName.nick
  if (typeof authorName === 'object' && typeof authorName.nickname === 'string') authorName = authorName.nickname

  const tagNames = page.tags && typeof page.tags.toArray === 'function'
    ? page.tags.toArray().map(tag => tag.name)
    : []
  const keywordList = uniqueStrings(toArray(page.keywords).concat(tagNames).concat(toArray(config.keywords)))
  const keywordContent = keywordList.join(', ')
  const thumbnailSource = page.thumbnail || page.cover || getPostCoverImg(page) || (page.photos && page.photos[0]) || config.default_og_image || theme.user.avatar
  const thumbnail = absoluteUrl(thumbnailSource)
  const publishedDate = dateToIso(page.date)
  const modifiedDate = dateToIso(page.updated) || publishedDate
  const authorUrl = absoluteUrl('/about/')
  const social = Object.assign({}, config.social || {}, theme.social || {})
  const sameAs = []

  if (social.github) sameAs.push(`https://github.com/${social.github}`)
  if (social.twitter) sameAs.push(`https://twitter.com/${social.twitter}`)
  if (social.linkedin) sameAs.push(`https://www.linkedin.com/in/${social.linkedin}`)
  if (social.facebook) sameAs.push(`https://www.facebook.com/${social.facebook}`)
  if (social.instagram) sameAs.push(`https://www.instagram.com/${social.instagram}`)

  const identity = {
    '@type': 'Person',
    '@id': `${siteBaseUrl}/#person`,
    name: authorName,
    url: authorUrl
  }
  if (sameAs.length > 0) identity.sameAs = sameAs

  let structuredData = {
    '@context': 'https://schema.org',
    '@graph': [
      identity,
      {
        '@type': ['WebSite', 'Blog'],
        '@id': `${siteBaseUrl}/#website`,
        url: `${siteBaseUrl}/`,
        name: siteTitle,
        description: siteDescription,
        inLanguage: language,
        publisher: { '@id': identity['@id'] }
      }
    ]
  }

  if (is_post()) {
    structuredData = {
      '@context': 'https://schema.org',
      '@type': 'BlogPosting',
      '@id': `${canonicalUrl}#blogposting`,
      mainEntityOfPage: {
        '@type': 'WebPage',
        '@id': canonicalUrl
      },
      headline: basePageTitle,
      description,
      image: thumbnail ? [thumbnail] : undefined,
      datePublished: publishedDate || undefined,
      dateModified: modifiedDate || undefined,
      author: identity,
      publisher: identity,
      keywords: keywordContent || undefined,
      inLanguage: language
    }
  }

  const structuredDataJson = JSON.stringify(structuredData).replace(/</g, '\\u003c')
doctype html
html(lang=language class= `appearance-${ appearance }`)
  head
    meta(charset='UTF-8')
    title= pageTitle
    if config.meta_generator
      != meta_generator()
    meta(name="description" content=description)
    if keywordContent
      meta(name='keywords' content=keywordContent)
    meta(name='author' content=authorName)
    meta(name='robots' content='index,follow,max-image-preview:large')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    if thumbnail
      meta(name='image' content=thumbnail)
    if canonicalUrl
      meta(name='original-source' content=canonicalUrl)
    link(rel='canonical' href=canonicalUrl)
    link(rel='alternate' hreflang=language href=canonicalUrl)
    != feed_tag()
    meta(property='og:locale' content=ogLocale)
    meta(property='og:type' content=is_post() ? 'article' : 'website')
    meta(property='og:title' content=pageTitle)
    meta(property='og:description' content=description)
    meta(property='og:url' content=canonicalUrl)
    meta(property='og:site_name' content=config.title)
    if thumbnail
      meta(property='og:image' content=thumbnail)
    if is_post()
      if publishedDate
        meta(property='article:published_time' content=publishedDate)
      if modifiedDate
        meta(property='article:modified_time' content=modifiedDate)
      meta(property='article:author' content=authorName)
      each tagName in tagNames
        meta(property='article:tag' content=tagName)
    meta(name='twitter:title' content=pageTitle)
    if thumbnail
      meta(name='twitter:image' content=thumbnail)
    meta(name='twitter:description' content=description)
    meta(name='twitter:card' content='summary_large_image')
    if config.seo && config.seo.google_site_verification
      meta(name="google-site-verification" content=config.seo.google_site_verification)
    script(type='application/ld+json')!= structuredDataJson

    <!-- Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-4N118JY08V")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-4N118JY08V');
    <!-- End Google Analytics -->

    link(rel="icon" href= url_for(theme.favicon))
    link(rel="stylesheet" href= url_for('/style/common/bulma.css'))
    link(rel="stylesheet" href= url_for('/style/base.css'))
    link(rel="stylesheet" href= url_for('/style/common/helper.css'))
    script(src= url_for("/js/common.js"))
    block head

  body.is-flex.is-flex-direction-column
    include widget-header
    main
      block content
    footer.is-flex.is-flex-direction-column.is-align-items-center.is-flex-shrink-0.is-family-serif
      section.sns-container
        include widget-sns
      p
        span Copyright ©
        - var author = (theme.user && theme.user.name) || config.author || ''
        span= ' ' + author + ' ' + new Date().getFullYear()
      div.is-flex.is-justify-content-center.is-flex-wrap-wrap
        p Powered by Hexo &verbar;&nbsp;
        p.is-flex.is-justify-content-center
          a(title="Hexo theme author" href='//github.com/haojen') Theme by Haojen&nbsp;
        div(style="margin-top: 2px")
          a(title="github-button" class="github-button" href="https://github.com/haojen/hexo-theme-Claudia" data-color-scheme="no-preference: light; light: light; dark: dark;" data-show-count="true")
      div
        span!= theme.user && theme.user.footnotes

    script(async defer src="https://buttons.github.io/buttons.js")
    block script
